// variables
$primary-color: gold;
$general-color: black;
$shadow: 5px 5px 5px #888888;
$active-color: #1e5799;
$hover-color: white;
$hover-font-size: 1.2rem;
$header-color: white;
$primary-font: sans-serif;
$large-font: 3rem;
$title-spacing: .1rem;

$cool-color1: #1e5799;
$cool-color2: #2989d8;
$cool-color3: #207cca;
$cool-color4: #7db9e8;
$cool-color5: #7db9e8;

$warm-color1: #f3c5bd;
$warm-color2: #e86c57;
$warm-color3: #ea2803;
$warm-color4: #ff6600;
$warm-color5: #c72200;

$dark-color1: #959595;
$dark-color2: #0d0d0d;
$dark-color3: #010101;
$dark-color4: #0a0a0a;
$dark-color5: #4e4e4e;

$city-map: (
    // city image, sound, color
  Seattle: ("../media/seattle.jpg", blue),
  London: ("../media/london.jpg", red),
  Issaquah: ("../media/issaquah.jpg", orange)
);
