// variables
$primary-color: gold;
$general-color: black;
$shadow: 5px 5px 5px #888888;
$active-color: #1e5799;
$hover-color: white;
$hover-font-size: 1.2rem;
$header-color: white;
$primary-font: sans-serif;
$large-font: 3rem;
$title-spacing: .1rem;

$gradient-color1: #1e5799;
$gradient-color2: #2989d8;
$gradient-color3: #207cca;
$gradient-color4: #7db9e8;
