body {
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 35rem;
  min-width: 20rem;
}

.cell {
  text-align: center;
  align-self: center;
  margin: -1rem 0 -1rem 0;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.temp {
  font-size: 3rem;
  color: gold;
}

#tempUnit {
  vertical-align:top;
  color: gold;
}

.icon {
  height: 6rem;
}

.controls {
  margin: 6rem;
}

#windDegrees {
  font-size: 3rem;
}

.wait {
  cursor:wait
}

.sun {
  height: 2rem;
  padding-right: .5rem;
}
.sunriseTime{
}
.sunsetTime{
  vertical-align:top;
}

.outerContainer {
  border: 1rem solid gray;
  padding: 1rem;

  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
