// file imports
@import 'normalize.css';
@import 'variables'; // use of variables in separate file

// nesting
button {
  width: 8rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 10%;

  transition: box-shadow 1s;

  &:hover {
    color: $hover-color;
    box-shadow: $shadow;
  }

  &:active {
    color: $active-color;
  }
}


body {
  font-family: $primary-font;
  color: $general-color;
  font-weight: lighter;
  min-width: 40rem;
  margin: 2rem;
}

#city {
  color: $header-color;
  letter-spacing: $title-spacing;
  font-weight: lighter;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lightText {
  color: #d2d6dd; // grey
}

.cell {
  text-align: center;
  align-self: center;
  margin: -1rem 0 -1rem 0;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.temp {
  font-size: $large-font;
  color: $primary-color;
}

#tempUnit {
  vertical-align:top;
  color: $primary-color;
}

.icon {
  height: 6rem;
}

.controls {
  margin: 5rem 5rem 2rem 5rem;
}

#windDegrees {
  font-size: 3rem;
}

.wait {
  cursor:wait
}

.sun {
  height: 2rem;
  padding-right: .5rem;
}
.sunriseTime{
}
.sunsetTime{
  vertical-align:top;
}

// gradients via http://www.colorzilla.com/gradient-editor/
@mixin gradient($color1, $color2, $color3, $color4, $color5){
  border: 1rem solid gray;
  padding: 1rem;

  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top, $color1 0%, $color2 50%, $color3 51%, $color4 75%, $color5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $color1 0%, $color2 50%, $color3 51%, $color4 75%, $color5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $color1 0%,$color2 50%, $color3 51%, $color4 75%, $color5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.cool {
  @include gradient($cool-color1, $cool-color2, $cool-color3, $cool-color4, $cool-color5);
  }

.warm {
    @include gradient($warm-color1, $warm-color2, $warm-color3, $warm-color4, $warm-color5);
}

.dark {
  @include gradient($dark-color1, $dark-color2, $dark-color3, $dark-color4, $dark-color5);
}

@each $city, $attributes in $city-map {
  // interpolating $city-map to .Seattle
  .#{$city} {
    $image: nth($attributes, 1);
    $textColor: nth($attributes,2);

    background: url($image) no-repeat center fixed;
    background-size: cover;
    color: $textColor;
  }
}
